@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

// 画面設定
@each $breakpoint in map-keys($grid-breakpoints) {
  .mw-#{$breakpoint} {
    max-width: var(--breakpoint-#{$breakpoint});
  }
}

body { 
  padding: 60px 0; 
}

.index-namedate {
  width: 80%;
  margin: 0;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// #container {
//   display: flex;
// }

.task_index {
  flex: 1;
}

nav ul li a {
  color: #fff;
}

.btn-info a, .btn-dark a {
  color: #fff;
}

.btn-outline-danger {
  margin-left: 0.5rem;
}

// flash
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.card {
  margin: 1rem 0;
}

.card-body{
  display: flex;
}

.task_menu {
  margin-left: auto;
}

.show-taskinfo {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  padding-bottom: 2rem;
}

.elapsed-date {
  margin-top: 2rem;
}

.show-icon {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.taskname-date {
  flex-flow: column;
  margin: 1rem;
  margin-left: 5rem;
}

.showbtninfo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.addhistories {
  display: flex;
  margin: 0 2rem 1.5rem 2rem
}

.addhistorybtn {
  margin-left: 0.5rem;
}

// ファイル選択欄
.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

textarea {
  resize: none;
}

textarea.form-control{
  height: 108px;
  margin: 2rem 0rem 1rem 0rem;
}

.histories-preview{
  padding-right: 40px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.undermenu {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 2rem 1rem 0rem;
}

@media screen and (min-width: 992px) {
  #container {
    margin: 0 auto;
  }

  .navbar {
    font-size: 0.8rem;
    margin: 0 auto;
    max-width: var(--breakpoint-xl);

    .navbar-collapse {
      justify-content: flex-end;
    }

    .nav-item {
      margin-right: 16px;
    }
  }
}

@media screen and (min-width: 1200px) {

  #container {
    width: 1200px;
  }
}

@media screen and (max-width: 500px) {
  .show-icon {
    width: 100%;
  }

  .taskname-date {
    margin: 1rem;
    justify-content: center;
  }
}