/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";
@import "simple_calendar";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

// 画面設定
@each $breakpoint in map-keys($grid-breakpoints) {
  .mw-#{$breakpoint} {
    max-width: var(--breakpoint-#{$breakpoint});
  }
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body { 
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  min-height: 100vh;
  padding: 60px 0; 
  background-color: #f1f1f1;
  color: #555555;
}

.index-namedate {
  width: 80%;
  margin: 0;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.task_index {
  flex: 1;
}

nav ul li a {
  color: #fff;
  margin-right: 0.7rem;
}

nav i {
  color: #fff;
}

.fixed-top {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn-info a, .btn-dark a {
  color: #fff;
}

.btn-outline-info, .btn-outline-dark, .btn-outline-success{
  background-color: #fff;
}

.btn-outline-danger {
  margin-left: 0.5rem;
  background-color: #fff;
  color: firebrick;
}

footer {
  text-align: center;
  padding-top: 50px;
  margin-top: auto;
  height: 40px;
}

// flash
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.card {
  margin: 1rem 0;
}

.card-body{
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.historyinput {
  display: flex;
}

.hidebtn {
  margin:1rem 0rem 1.5rem 0rem;
}

// show page
.task_menu {
  margin-left: auto;
}

.show-taskinfo {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  padding-bottom: 2rem;
}

.show-taskinfo i {
  color: #4d5156;
}

.task-rename {
  margin-left: 30px;
  color: #808080;
  font-size: 12px;
}

.elapsed-date {
  margin-top: 2rem;
}

.show-icon {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.taskname-date {
  flex-flow: column;
  margin-left: 5rem;
}

.border-bottom {
  width: 90%;
}

.showbtninfo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.addhistories {
  display: flex;
  margin: 0 2rem 1.5rem 2rem
}

.addhistorybtn {
  margin-left: 0.5rem;
}

// ファイル選択欄
.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

textarea {
  resize: none;
}

textarea.form-control{
  height: 108px;
  margin: 2rem 0rem 1rem 0rem;
}

.histories-preview{
  padding-right: 40px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.undermenu {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 2rem 1rem 0rem;
}

@media screen and (min-width: 992px) {
  #container {
    margin: 0 auto;
  }

  .navbar {
    font-size: 0.8rem;
    margin: 0 auto;
    max-width: var(--breakpoint-xl);

    .navbar-collapse {
      justify-content: flex-end;
    }

    .nav-item {
      margin-right: 16px;
    }
  }
}

@media screen and (min-width: 1200px) {
  #container {
    width: 1200px;
  }

  .col-form-label {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .show-icon {
    width: 100%;
  }

  .taskname-date {
    margin: 1rem 0rem;
    padding: 1rem 0;
    justify-content: center;
  }

  .show-page {
    padding: 0;
  }

  .btn-sm {
    padding: 0.25rem;
  }
}